/* DESIGN TOKENS */

html {
  --color-white: hsl(0deg 0% 100%);
  --color-black: hsl(0deg 0% 4%);

  --color-gray-3: hsl(210, 14%, 89%);
  --color-gray-4: hsl(210, 14%, 83%);
  --color-gray-5: hsl(210, 11%, 71%);
  --color-gray-6: hsl(210, 7%, 56%);
  --color-gray-7: hsl(210, 9%, 31%);

  --color-blue-5: hsl(207, 86%, 57%);
  --color-blue-6: hsl(208, 80%, 52%);
  --color-blue-9: hsl(209, 75%, 38%);
  --color-indigo-5: hsl(228, 94%, 67%);
  --color-indigo-7: hsl(228, 81%, 59%);
  --color-violet-5: hsl(255, 91%, 67%);
  --color-violet-7: hsl(255, 78%, 60%);
  --color-grape-5: hsl(288, 75%, 64%);
  --color-grape-7: hsl(288, 56%, 52%);

  --color-blue: var(--color-blue-5);
  --color-indigo: var(--color-indigo-5);
  --color-violet: var(--color-violet-5);
  --color-grape: var(--color-grape-5);

  --color-blue-hover: var(--color-blue-6);
  --color-blue-active: var(--color-blue-9);

  --color-indigo-hover: var(--color-indigo-7);
  --color-violet-hover: var(--color-violet-7);
  --color-grape-hover: var(--color-grape-7);

  --default-start-animation: 200ms cubic-bezier(0.44, 0.21, 0, 1);
  --default-exit-animation: 400ms cubic-bezier(0.44, 0.21, 0, 1);

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

/** RESET AND GLOBAL STYLES */

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body,
#root,
#__next {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  color: var(--color-gray-7);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-sans-serif);
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

h1 {
  font-size: calc(40 / 16 * 1rem);
  line-height: 1.2;
}

h3 {
  font-size: calc(24 / 16 * 1rem);
  line-height: 1.5;
}

/* MAIN STYLES */

/* UTILITIES */

.max-width-wrapper {
  max-width: calc(1400 / 16 * 1rem);
  padding: 0 32px;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.btn:focus {
  outline-offset: 2px;
}

.btn:focus:not(:focus-visible) {
  outline: none;
}

/* Hero Section */

.hero {
  padding-top: calc(168px - 10px);
  padding-bottom: calc(104px - 5px);

  border-bottom: 1px solid var(--color-gray-3);
}

.hero-title {
  margin-bottom: calc(40px - 16px);
}

.sub,
.metadata,
.metadata a {
  color: var(--color-gray-6);
}

.sub {
  font-size: calc(18 / 16 * 1rem);
  margin-bottom: calc(48px - 11px);
}

.metadata {
  font-size: calc(12 / 16 * 1rem);
}

.metadata a {
  text-decoration: none;

  transition: color var(--default-exit-animation);
}

.metadata a:hover {
  color: var(--color-gray-7);
  transition: color var(--default-start-animation);
}

/* Generate Number Section */

.generate-number {
  padding-top: calc(48px - 1px);
  padding-bottom: calc(64px - 1px);
  border-bottom: 1px solid var(--color-gray-3);
}
.range-wrap {
  display: flex;
  align-items: center;
  margin-bottom: calc(40px - 1px);
  gap: calc(16px - 2px);
}

.range-input {
  text-align: center;
  border: 1px solid var(--color-gray-3);
  border-radius: 4px;
  padding-top: calc(24px - 6px);
  padding-bottom: calc(24px - 6px);
  padding-right: 4px;
  padding-left: calc(24px - 6px);

  transition: border-color var(--default-exit-animation);
}

.range-input::placeholder {
  color: var(--color-gray-4);

  transition: color var(--default-exit-animation);
}

.range-input:hover {
  border-color: var(--color-gray-7);

  transition: border-color var(--default-start-animation);
}

.btn-generate,
.btn-generate:link,
.btn-generate:visited {
  min-width: 200px;
  padding: calc(20px - 6px);
  font-size: calc(14 / 16 * 1rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: 4px;
  will-change: transform;
  transition: background var(--default-exit-animation);
}

.btn-generate:hover {
  background: var(--color-blue-hover);

  transition: background var(--default-start-animation);
}

.btn-generate:active {
  background: var(--color-blue-active);
}

/* Grid Multiplier Section */

.grid-multiplier-wrap {
  padding-top: calc(48px - 10px);
  padding-bottom: calc(64px - 10px);
  border-bottom: 1px solid var(--color-gray-3);
}

.grid-multiplier-group:not(:last-of-type) {
  margin-bottom: calc(96px - 22px);
}

.grid-multiplier-title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: calc(40px - 15px);
  gap: 0 6px;
  width: fit-content;
  cursor: pointer;
  opacity: 1;

  transition: opacity var(--default-exit-animation);
}

.grid-multiplier-title-wrap:hover {
  opacity: 0.8;

  transition: opacity var(--default-start-animation);
}

.grid-multiplier-title {
  font-size: calc(24 / 16 * 1rem);
}

.triangle {
  width: 8px;
  height: 8px;
  background: var(--color-gray-7);
  transform: translateY(2px);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.grid-multiplier-values-wrap {
  /* display: flex;
  flex-wrap: wrap;
  gap: calc(40px - 18px) calc(40px - 2px); */
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: calc(40px - 18px) 0;
}

.rem-value,
.px-value {
  cursor: pointer;
}

.rem-value {
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-gray-6);

  transition: color var(--default-exit-animation);
}

.rem-value:hover {
  color: var(--color-gray-7);

  transition: color var(--default-start-animation);
}

.px-value {
  font-size: calc(32 / 16 * 1rem);
  font-weight: 800;

  transition: color var(--default-exit-animation);
}

.grid-multiplier--8pt .px-value {
  color: var(--color-indigo);
}

.grid-multiplier--8pt .px-value:hover {
  color: var(--color-indigo-hover);

  transition: color var(--default-start-animation);
}

.grid-multiplier--4pt .px-value {
  color: var(--color-violet);
}

.grid-multiplier--4pt .px-value:hover {
  color: var(--color-violet-hover);

  transition: color var(--default-start-animation);
}

.grid-multiplier--2pt .px-value {
  color: var(--color-grape);
}

.grid-multiplier--2pt .px-value:hover {
  color: var(--color-grape-hover);

  transition: color var(--default-start-animation);
}

/* Grid Multiplier Open State */

.grid-multiplier-group.open .grid-multiplier-values-wrap {
  display: grid;
}

.grid-multiplier-group.open .triangle {
  transform: rotate(90deg);
  transform-origin: 20% 60%;
}

/* Footer */
footer {
  padding: calc(32px - 5px) 0;
}

.copy {
  font-size: calc(14 / 16 * 1rem);
  color: var(--color-gray-5);
}

@media (max-width: 34.5rem) {
  .range-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .range-input {
    width: 100%;
  }

  .btn-generate {
    width: 100%;
  }
}
